.productImg {
    height: 10%;
    width: 10%;
}

.productImg:hover {
    opacity: 0.5;
    background-color: black;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}